/* GENERAL */

header {
  height: 70px;
  font: 16px Roboto, sans-serif;
  font-weight: 400;
}

section {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font: 64px Roboto, sans-serif;
  font-weight: 700;
}

h2 {
  font: 48px Roboto, sans-serif;
  font-weight: 500;
}

p {
  margin: 0;
}

footer {
  margin-top: 120px;
  background-color: #3f3d56;
  height: 124px;
}

.container {
  align-items: center;
  display: flex;
  padding-left: 40px;
}

.section--margin {
  margin-top: 80px;
}

/* HEADER */

.header__logo {
  font: 24px Rubik, sans-serif;
  font-weight: bold;
}

.header__nav {
  margin-left: auto;
}

.header__button {
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid rgba(27, 27, 27, 0.4);
  box-sizing: border-box;
  font-weight: 500;
  font: 16px Roboto, sans-serif;
  height: 43px;
  margin-right: 40px;
  width: 106px;
}

.header__button:hover {
  background-color: lightgrey;
}

.header__button:active {
  color: inherit;
}

.nav__item {
  margin-right: 30px;
}

/* SECTION ABOUT US */

.section__img {
  margin: 100px auto 0 auto;
}

.section__name {
  margin: 60px auto 0 auto;
}

.section__caption {
  font-weight: 400;
  font: 24px Roboto normal, sans-serif;
  line-height: 147.3%;
  margin: 30px auto 0 auto;
  text-align: center;
  max-width: 925px;
}

/* SECTION CONTACTS */

.section--background {
  background-color: #f7f9fb;
}

.separation {
  background: #c8c8cf;
  height: 62px;
  width: 1px;
  margin: 0 68px;
}

.container--contacts {
  justify-content: center;
  padding-bottom: 100px;
  margin-top: 40px;
  padding-left: 0;
}

.contacts__information {
  height: 56px;
  width: 264px;
  text-align: center;
}

.contacts__caption {
  font: 14px Roboto normal, sans-serif;
  color: #4f4f4f;
  margin: 2px 0;
  line-height: 20.62px;
}

.contacts__info {
  font: 20px Roboto normal, sans-serif;
  margin: 3px 0;
  line-height: 29.46px;
}

/* SECTION CONTACTS */

.container--team {
  display: flex;
  margin: 0 auto;
  max-width: 1110px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.item__contacts {
  width: 196px;
  height: 260px;
  margin: 38px 30px;
  text-align: center;
}

.contacts__image {
  height: 180px;
  width: 180px;
}

.contacts__name {
  font: 20px Roboto normal, sans-serif;
  margin: 22px 0 8px 0;
}

.contacts__caption--color {
  color: #828282;
}

/* FOOTER */

.footer__copyright {
  font: 16px Roboto normal, sans-serif;
  color: #ffffff;
  opacity: 0.4;
}

.footer__icons {
  margin-left: auto;
}

.footer__icon {
  margin-left: 19px;
}

.footer__icon--last {
  margin-right: 40px;
}
